
body{
    font-family: 'Poppins', sans-serif;
}

.image-side {
    background-image: url(./10586\ 1.jpg);
    background-position: cover;
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
}

.lines{
    width: 100%;
    height: 45px;
    position: relative;

}

.lines::after, .lines::before{
    content:"";
    position: absolute;
    margin: auto;
    height: 1px;
    background: black;
    width: 45%;
    top:45%;

}
.lines::after{
    left: 0;
}
.lines::before{
    right: 0;
}
.circle{
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}


.menu-bar{
    display: flex;
    flex-direction: row-reverse;
}
.email{
    margin: auto;
}

.text-t{
    margin: auto;
}
.text-main{
    margin-top: 12px;
    background-color: #FFFFFF;
    border: 1px solid #333333;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}
.main-input{
    display: flex;
}

.section{
    display:flex;
    padding: 150px;
}

.search-btn{
    text-align: left;
    width: 60px;
    border-radius: 8px;
    background-color: #F6F6F6;
    color: #666666;
    border: 1px solid #666666
}

span{
    display: flex;

}
.sign-up{
    font-size: smaller;
}

.right-section{
    position: relative;
    width: 500px;
    height: 300px;
    text-align: left;
    font-size: small;

}

.left-section{
    position: absolute;
    left: 40%;
    
}