
body{
    font-family: 'Poppins', sans-serif;
}

.image-side {
    background-image: url(./10586\ 1.jpg);
    background-position: cover;
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
}

.menu-bar{
    display: flex;
    flex-direction: row-reverse;
}
.email{
    margin-top: 8px;
}
.text-main{
    margin-top: 12px;
}

.section{
    display:flex;
    padding: 150px;
}

.search-btn{
    text-align: left;
    width: 60px;
    border-radius: 8px;
    background-color: #F6F6F6;
    color: #666666;
    border: 1px solid #666666
}

span{
    display: flex;

}
.sign-up{
    font-size: smaller;
}

.right-section{
    position: relative;
    width: 500px;
    height: 300px;
    text-align: left;
    font-size: small;

}

.left-section{
    position: absolute;
    left: 40%;
    
}